/* Custom Styles */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Center the image in the about section and make it round */
main img {
    border-radius: 50%;
    display: block;
    margin: 0 auto 1rem;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* Ensure container has padding and doesn't clash with Bootstrap */
.container {
    padding: 15px;
}

/* Style for the navbar */
.navbar {
    margin-bottom: 20px;
}

/* Adding padding to the main sections */
main section {
    padding: 20px;
}

/* Center align the About Me section text */
#about {
    text-align: left;
}

/* Divider between the left and right sections */
.divider {
    height: 100%;
    width: 1px;
    background-color: #ccc;
    margin: auto;
}

/* Adjust the column widths */
.col-md-4 {
    padding-right: 0;
}

.col-md-7 {
    padding-left: 0;
}

/* Add padding to the bottom of the main content to prevent overlap */
main {
    padding-bottom: 20px; /* Adjust the value as needed */
    flex-grow: 1;
}

/* Style for the card */
.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
